.new_comment_button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: #3498DB;
    padding: 10px;
    font-size: 14pt;
    width: 93%; 
    margin-top: 20px;
    cursor: pointer;
    border:none;
}
.new_comment_button:hover {
    background-color: #328bc7;
    color: white;
    transition: 1s linear;
}
.new_comment_button:active {
    top: 5px;
    box-shadow: none;
}
.comment_create_button {
    font-size: 14pt;
    width: 400px;
    height: 50px;
    display: block;
    margin: 30px auto 30px;
    color: #3498DB;
    background-color:  white;
    border: none;
}
.comment_save_button {
    float: right;
    font-size:14pt;
    cursor: pointer;
    width: 400px;
    height: 50px;
    display: block;
    margin: 30px auto 30px;
    color: white;
    background-color: darkblue;
    border: none;
}
.comment_cancel_button {
    float: right;
    font-size:14pt;
    cursor: pointer;
    width: 400px;
    height: 50px;
    display: block;
    margin: 30px 10px 30px;
    color: white;
    background-color: red;
    border: none;
}